<div class="row">
    <div class="col-xs-12">
        <img src="" alt="recipe.name" class="img-responsive" style="max-height: 50px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>"recipe.name"</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="">To Shopping List</a></li>
                <li><a href="">Edit</a></li>
                <li><a href="">Delete</a></li>
            </ul>
            <!-- <button class="btn btn-danger">Delete</button> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>"recipe.description"</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Ingredients</h3>
    </div>